@{
    ViewData["Title"] = "myproducts";
}

@model IEnumerable<EsyaCekilisV3.Web.Areas.Admin.Models.SaleModel>

<h1>Satın Aldıklarım</h1>

<table class="table table-striped">
    <thead>
        <tr>

            <th>Kupon Adı</th>
            <th>Açıklama</th>
            <th>Başlangıç Tarihi</th>
            <th>Bitiş Tarihi</th>
            <th>Çekiliş Tarihi</th>
            <th>Fiyat</th>

        </tr>
    </thead>

    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
               
                    <tr>

                        <td>@item.Product.Name</td>
                        <td>@item.Product.Description</td>
                        <td>@item.Product.StartDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.Product.EndDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.Product.DrawDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.Product.Price</td>
                    </tr>
                
            }
        }
        else
        {
            <tr><td align="center" colspan="9">Kupon Yok</td></tr>
        }
    </tbody>
</table>

